<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Routing</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <script src="routing.js"></script>
</head>
<body ng-app="app">
    <div ng-controller="Searcher">
        <input type="text" ng-model="currPhone">
        <div ng-repeat="contact in contacts | filter:{phone: currPhone}">
            {{contact.name}} {{contact.phone}}
        </div>
    </div>
</body>

</html>